.social_link {
  align-self: center;
  order: 3;
  justify-content: flex-end;
}

.social_link a {
  padding: 0 10px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 1200px) {
  .social_link {
    display: none;
  }
}
