.blog__containerPage {
  display: flex;
  justify-content: space-around;
  height: 90vh;
  width: 100%;
}
:root {
  --surface-color: #fff;
  --curve: 40;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  gap: 2rem;
  margin: 4rem 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
  width: 55vw;
}

.featured__container {
  max-height: 90vh;
}

@media screen and (max-width: 1366px) {
  .blog__containerPage {
    flex-direction: column;
    height: unset;
    justify-content: center;
    align-items: center;
  }

  .cards {
    width: unset;
    padding: 2rem;
  }

  .featured__container {
    max-height: unset;
  }
}
@media screen and (max-width: 768px) {
  .cards {
    width: 100%;
    padding: 2rem;
  }
}
