:root {
  counter-reset: value;
}
.data_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  counter-increment: value;
}
.data_container h1::before {
  content: counter(value) "_";
  font-size: 2rem;
  font-weight: 400;
  border-radius: 50%;
  width: max-content;
}
.data_container h1 {
  font-size: 0.9rem;
  font-weight: 800;
  color: #a5a5a5;
}

.data_container p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}

.numbers_heading {
  font-size: 0.9rem;
  font-weight: 800;
  color: #a5a5a5;
  max-width: 100px;
  text-align: end;
}

.numbers {
  font-weight: 400;
  font-size: 4rem;
}

.data_section {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

@media screen and (max-width: 888px) {
  .data_container {
    padding: 10% 0;
  }
  .data_section:first-child {
    animation-name: appear;
    animation-duration: 1s;
  }
  .data_section:nth-child(2) {
    animation-name: appear;
    animation-duration: 2s;
  }
  .data_section:nth-child(3) {
    animation-name: appear;
    animation-duration: 3s;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
