.logo_sections {
  order: 2;
  display: flex;
  flex-direction: column;
}
.logo_sections h1,
.logo_sections p {
  text-justify: center;
  width: 100%;
  text-align: center;
}

.logo_sections p {
  font-size: 1rem;
  font-weight: regular;
}

.logo_sections h1 {
  font-size: 2rem;
  font-weight: bold;
}
