.navigation_bar {
  display: flex;
  justify-content: space-around;
  padding: 10px 2%;
}

.options {
  align-self: center;
  /* background: #fafafa; */
  display: flex;
  order: 1;
}
.options {
  min-width: 10%;
}
.options button {
  border: none;
  background-color: #fafafa;
}
