.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.2em;
  margin: 0 0 0.3em;
  color: black;
  font-weight: 800;
}

.card__tagline {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1em 0;
  font-size: 0.8em;
  color: black;
}

.tags_card__tagline:first-child {
  margin-left: 0;
}
.tags_card__tagline:last-child {
  margin-right: 0;
}
.tags_card__tagline {
  margin: 0rem 0.5em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.226);
  padding: 0.5em;
  border-radius: 0.5em;
}

.card__status {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.568);
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: rgba(0, 0, 0, 0.568);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
