.app {
  background: url("https://media.istockphoto.com/videos/snowfall-in-the-mountains-falling-snowflakes-on-the-forest-animation-video-id1281219247")
    fixed no-repeat;
  background-color: rgb(255, 255, 255);
}
